.DS_Store
.devenv
.devenv.flake.nix
.terraform
.terraform.lock.hcl
.vdl_node_1_init
*.log
devenv.lock
terraform.tfstate
terraform.tfstate.backup
containers/vdl_node_?/data/*
containers/vdl_node_?/logs/*
grafana/prometheus-token
prometheus/prometheus-token
